:root{
  --cor-um: #98a7c9;
  --cor-dois: #24e9e6;
  --cor-tres: rgb(62, 71, 90);
  --cor-quatro: #5b517c;
  --cor-cinco: #324b6b7a;
  --branco-leitura: #cacaca42;
  --preto-neutro: #1a1a1a;
}

/*font link*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

abbr{
  text-decoration: none;
}

section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--branco-leitura);
}

header{
  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  text-align: center;

}

.container_converter{
  border-radius: 30px;
  width: 700px;
  height: 350px;
  background-color: var(--cor-tres);
  box-shadow: 8px 8px 1px var(--cor-um);
}

.container_itens{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.menu_one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 20px 0px;
  background-color: var(--branco-leitura);
  width: 300px;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  box-shadow: 3px 3px 1px white;
}

.menu_one h1{
  border-bottom: 5px solid ;
  margin: 20px;
}

/* Inputs */
.inpt_form {
      overflow: hidden;
      width: 400px;
      cursor: pointer;
    }

    .inpt_form input[type="file"] {
      opacity: 0;
      
    }

    .inpt_form label {
      padding: 10px;
      background-color: #ffffff;
      color: #1b1b1b;
      border: 1px solid #666;
      border-radius: 120px;
      cursor: pointer;
    }

    .inpt_form label:hover {
      background-color: #ddd;
    }

    .inpt_form label::after {
      content: url(../imgs/engine_icon.png);
      vertical-align: middle;
      margin: 0px 10px;
    }


.out_form{
      width: 400px;
      margin: 40px 0px;
      cursor: pointer;
}

.out_form label{
      padding: 10px;
      background-color: #ffffff;
      color: #1b1b1b;
      border: 1px solid #666;
      border-radius: 120px;
      cursor: pointer;
}

.out_form label:hover{
  background-color: #ddd;
}

.out_form select:hover{
  background-color: #ddd;
}

.out_form select{
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  
}

.container_result{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 700px;
  height: 300px;
  background-color: var(--cor-tres);
  box-shadow: 8px 8px 1px var(--cor-um);

}

.progress_container{
  width: 100%;
  margin: 20px auto;
  background-color: var(--branco-leitura);
  border-radius: 10px;
  box-shadow: 3px 2px 1px var(--cor-um);
}

.progress_bar{
  width: 0%;
  height: 10px;
  background-color: var(--cor-dois);
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.process{
  display: block;
  margin: 20px auto;
  background-color: var(--branco-leitura);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 3px 1px white;
}

.process:hover{
  background-color: var(--cor-um);
}

.process:active{
  transform: scale(0.98);
}

.content_container{
  display: block;
  margin: 20px auto;
  height: 50px;
  border-radius: 20px;
  background-color: var(--branco-leitura);
}

.linkOut{
  color: white;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 70px 70px 0px 0px;
  height: 200px;
  background-color: var(--cor-cinco);
}

.content_footer{
  width: 500px;
  background-color: var(--branco-leitura);
  height: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.content{
  border-bottom: 6px solid var(--cor-quatro);
  transition: 0.6s ease-in-out;
}
.content:hover{
  transform: scale(1.2);
   border-bottom: 6px solid var(--cor-tres)
}

/* Adicionando midia queries */
@media screen and (max-width: 768px) {
  .container_converter,
  .container_result {
    width: 70% !important; 
    max-width: 70% !important; 
    min-width: 50% !important; 
    height: auto; 
  }

  .container_itens {
    flex-direction: column;
  }

  .menu_one h1 {
    margin: 10px; 
  }

  .inpt_form,
  .out_form {
    width: 80%; 
    min-width: 70%; 
  }

  .content_footer {
    width: 90%; 
    max-width: 90%; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1928px) {
  .container_converter,
  .container_result {
    width: 50%; 
    height: auto; 
  }

  .container_itens {
    flex-direction: column; 
  }

  .menu_one h1 {
    margin: 10px; 
  }

  .inpt_form,
  .out_form {
    width: 90%; 
  }

  .content_footer {
    width: 90%; 
  }
}
