:root{
  --cor-um: #98a7c9;
  --cor-dois: #24e9e6;
  --cor-tres: rgb(62, 71, 90);
  --cor-quatro: #5b517c;
  --cor-cinco: #324b6b7a;
  --branco-leitura: #cacaca42;
  --preto-neutro: #1a1a1a;
}

/*font link*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
}

section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--branco-leitura);
}

header{
  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  text-align: center;

}

.container_converter{
  border-radius: 30px;
  width: 500px;
  height: 350px;
  background-color: var(--cor-tres);
  box-shadow: 8px 8px 1px var(--cor-um);
}

.container_itens{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.menu_one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 20px 0px;
  background-color: var(--branco-leitura);
  width: 300px;
  border-radius: 20px;
  height: 50px;
  text-align: center;
}

.menu_one h1{
  border-bottom: 5px solid ;
  margin: 20px;
}

/* Inputs */
.inpt_form {
      overflow: hidden;
      width: 400px;
      cursor: pointer;
    }

    .inpt_form input[type="file"] {
      opacity: 0;
      
    }

    .inpt_form label {
      padding: 10px;
      background-color: #ffffff;
      color: #1b1b1b;
      border: 1px solid #666;
      border-radius: 120px;
      cursor: pointer;
    }

    .inpt_form label:hover {
      background-color: #ddd;
    }

    .inpt_form label::after {
      content: url(../imgs/engine_icon.png);
      vertical-align: middle;
      margin: 0px 10px;
    }


.out_form{
      width: 400px;
      margin: 40px 0px;
      cursor: pointer;
}

.out_form label{
      padding: 10px;
      background-color: #ffffff;
      color: #1b1b1b;
      border: 1px solid #666;
      border-radius: 120px;
      cursor: pointer;
}

.out_form label:hover{
  background-color: #ddd;
}

.out_form select{
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  
}

.container_result{
  border-radius: 30px;
  width: 500px;
  height: 300px;
  background-color: var(--cor-tres);
  box-shadow: 8px 8px 1px var(--cor-um);
}

.arrow{
  transform: scale(4);
  filter: drop-shadow(3px 2px 1px var(--cor-quatro));
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 70px 70px 0px 0px;
  height: 200px;
  background-color: var(--cor-cinco);
}